<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html>
	<head>
	  {% if debug %}
		<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.4.2.js"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui.js"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}js/protovis-d3.2.js"></script>
	  {% else %}
		<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.4.2.min.js"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui.min.js"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}js/protovis-r3.2.js"></script>
	  {% endif %}
		<script type="text/javascript" src="{{ MEDIA_URL }}js/xbreadcrumbs.js"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}js/quickselect.js"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}js/quicksilver.js"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}js/math_util.js"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.tipsy.js"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}js/behavior.tipsy-boxplot.js"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}js/gene_boxplot.js"></script>

		<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}style/quickselect.css">
		<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}style/xbreadcrumbs.css">
		<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}style/style.css">
		<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}style/tipsy.css">

		<title>Project Betastasis</title>
		<script type="text/javascript">
		  $(document).ready(function() { $('#breadcrumbs').xBreadcrumbs(); });
		</script>
	</head>
	<body>
	  <div id="header">
	    <h1 id="logo"><a href="../">Project Betastasis</a></h1>
	  </div>
	  
	  <ul class="xbreadcrumbs" id="breadcrumbs">
	    <li>
	      <a href="#">Home</a>
	    </li>
	  </ul>
	  
	  <div id="main">
	    <h2>Select a dataset</h2>
	    {% for ds in cancer_data_sets %}
	    {% ifchanged ds.cancer_type.id %}
	    {% if not forloop.first %}
	      </ul>
	    {% endif %}
	    <h3><a href="{{ds.cancer_type.id}}">{{ ds.cancer_type.description }}</a></h3>
	      <ul>
	      {% endifchanged %}
	      
	      {% ifchanged ds.data_source.id %}
	      <li><a href="{{ds.cancer_type.id}}/{{ds.data_source.id}}/">{{ds.data_source.meta.name}}</a></li>
	      {% endifchanged %}
	      {% if forloop.last %}
	      </ul>
	      {% endif %}
	    {% endfor %}
	  </div>
	</body>
</html>
