<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html>
	<head>
	  {% if debug %}
		<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.4.2.js"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui.js"></script>
	  {% else %}
		<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.4.2.min.js"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui.min.js"></script>
	  {% endif %}
		<script type="text/javascript" src="{{ MEDIA_URL }}js/xbreadcrumbs.js"></script>

		<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}style/xbreadcrumbs.css">
		<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}style/style.css">

		<title>Project Betastasis</title>
		<script type="text/javascript">
		  $(document).ready(function() { $('#breadcrumbs').xBreadcrumbs(); });
		</script>
	</head>
	<body>
	<div id="header">
		<h1 id="logo"><a href="../">Project Betastasis</a></h1>
	</div>
	
	<ul class="xbreadcrumbs" id="breadcrumbs">
	  <li><a href="/">Home</a></li>
	  {% include 'cancer_type_nav.html' %}
	  {% include 'data_set_nav.html' %}	  
	</ul>

	<div id="main">
	  <h2>{{ current_data_set.meta.name }}</h2>
	  {% if current_data_set.meta.description %}
	  <p>
	    {{ current_data_set.meta.description }}
	  </p>
	  {% endif %}
	  
	  <h3>Gene-level views</h3>
	  <ul>
	    {% include 'platform_vis_list.html' %}
	  </ul>
	  
	  <h3>Copy number tracks</h3>
	  <ul>
	  </ul>
	  
	  <h3>Recurrence tracks</h3>
	  <ul>
	  </ul>
	  
	  <h3>Significance tracks</h3>
	  <ul>
	  </ul>
	</div>

<div id="side">
	<p><b>Dataset overview</b><br/>
	Last update: ???<br/>
	Total samples: ???<br/>
	Total patients: ???<br/>
	</p>
	
	<p><b>Platforms used</b><br>
	{% include 'platforms_used.html' %}
	</p>
</ul></div>



<div id="footer" />
</body></html>
