	    {% for ds in cancer_data_sets %}
              {% if current_cancer.id == ds.cancer_type.id %}
                {% if current_data_set.id == ds.data_source.id %}
	          {% if ds.data_type == "survival" %}
	            <li><a href="/{{ds.cancer_type.id}}/{{ds.data_source.id}}/{{ds.platform.id}}/survival_plot/">Gene survival association ({{ds.platform.name}})</a></li>
	          {% endif %}
		  {% if ds.data_type == "expression" %}
	            <li><a href="/{{ds.cancer_type.id}}/{{ds.data_source.id}}/{{ds.platform.id}}/expr_boxplot/">Expression box plot ({{ds.platform.name}})</a></li>
	          {% endif %}
		  {% if ds.data_type == "feature_matrix" %}
	            <li><a href="/{{ds.cancer_type.id}}/{{ds.data_source.id}}/{{ds.platform.id}}/feature_matrix/">Feature matrix ({{ds.platform.name}})</a></li>
	          {% endif %}
	        {% endif %}
	      {% endif %}
	    {% endfor %}
